---
layout: default
title: Home
description: I'm Jonathan Robson — a software engineer living in Kansas City. This is my personal
  website and blog.
---
<p>Hello. I'm Jonathan Robson — a software engineer living in Kansas City. This is my personal website and blog. I don't
update it very often, but that really doesn't bother me that much. If you're interested, you can read more
<a href="/about.html">about me</a>, check out some of the open source <a href="/projects.html">projects</a> on which
I've worked, or read my blog posts below.</p>

<h2>Blog Posts</h2>

<ul class="post-list">
{% for post in site.posts %}
<li>
<time datetime="{{ post.date | date: '%Y-%m-%d' }}">
<span class="time-long">{{ post.date | date: '%B %d, %Y' }}</span>
<span class="time-short">{{ post.date | date: '%m/%d/%y' }}</span>
</time>
<a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>

<h2>Categories</h2>

<p class="category-list">
{% for category in site.sorted_categories %}
<a href="/category/{{ category[0] }}">#{{ category[0] }}</a>&nbsp;({{ category[1] }}){% if forloop.rindex0 > 0 %},{% endif %}
{% endfor %}
</p>
